<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css"> 
    <script src="/static/script.js"></script>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Encryption App</title>
</head>

<body>

<div class="container">
    <h1>Simple Encryption & Decryption App</h1>
    
    <div class="input-box">
        <label for="user_input">Enter up to 3 symbols (salted with "miraculin"):</label>
        <input type="text" id="user_input" maxlength="3">
        <button class="btn" id="encrypt-button" onclick="encryptInput()">XOR it</button>
        <span id="error-message-encrypt-button" class="error" style="display:none;"></span>
    </div>

    <div class="decode-box">
        <label for="selected_hash">Select Encrypted String:</label>
        <input type="text" id="selected_hash" readonly>
        <button class="btn" id="decode-button" onclick="decodeInput()">DeXOR</button>
        <span id="error-message-decode-button" class="error" style="display:none;"></span>
        <p id="decoded_output"></p>
    </div>

    <button class="btn" id="delete-button" onclick="deleteInput()">Delete Selected</button>
    <span id="error-message-delete-button" class="error" style="display:none;"></span>

    <div class="output-box">
        <h2>XORed Strings</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>XORed Value</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, xor_value in entries %}
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ xor_value }}</td>
                            <td><input type="radio" name="hash" value="{{ xor_value }}" onchange="document.getElementById('selected_hash').value = this.value;"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
